{% extends 'header.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid my-4">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
			<th scope="col">Name</th>
			<th scope="col">Age</th>
			<th scope="col">Gender</th>
			<th scope="col">Address</th>
			<th scope="col">Contact number</th>
			<th scope="col">Condition</th>
			<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
		{% for pat in patient_list %}		
			<tr>
				<td>{{ pat.name }}</td>
				<td>{{ pat.age }}</td>
				<td>{{ pat.gender }}</td>
				<td>{{ pat.address }}</td>
				<td>{{ pat.mobile }}</td>
				{% if pat.condition == 'b' %}
				<td>Bad</td>
				{% else %}
				<td>Good</td>
				{% endif %}

				{% if pat.status == True %}
				<td>Active</td>
				{% else %}
				<td>Discharged</td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% endblock body %}

